@model MemberViewModel
@{
ViewData["Title"] = $"Member {@Model.Id}";
}
<h1>@ViewData["Title"]</h1>

<table>
    <tr>
        <th>Id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>ActiveStatus</th>
    </tr>
    <tr>
        <th>@Model.Id</th>
        <th>@Model.FirstName</th>
        <th>@Model.LastName</th>
        <th>@Model.ActiveStatus</th>
    </tr>
</table>

<h2>Update Member Record</h2>
<form asp-controller="Members" asp-action="UpdateMemberById" method="post">
    <label asp-for="FirstName">First Name: </label> <input type="text" asp-for="FirstName" />
    <label asp-for="LastName">Last Name: </label> <input type="text" asp-for="LastName" />
    <label asp-for="ActiveStatus">Active Status: </label> <input type="checkbox" asp-for="ActiveStatus" />
    <input asp-for="Id" value="@Model.Id" alt="Id" type="hidden"/>
   
    <button type="submit">Update Record</button>
</form>