@model MembersListViewModel
@{
    ViewData["Title"] = "Members List";
}
<h1>@ViewData["Title"]</h1>

<table>
    <tr>
        <th>Id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>ActiveStatus</th>
    </tr>
    @foreach (var member in Model.Members)
    {
<tr>
    <th>@member.Id</th>
    <th>@member.FirstName</th>
    <th>@member.LastName</th>
       @*<th>@member.ActiveStatus</th>*@ 
</tr>
    }
</table>

<h2>Add new member</h2>
<form method:"post" asp-contoller ="MembersController" asp-action="">
    First Name: <input type="text" asp-for="AddMember" vaulue=""/>
    <button type="submit">Create new member</button>
</form>
    