@model BookViewModel
@{
    ViewData["Title"] = $"Books {@Model.Id} ";
}
<h1>@ViewData["Title"]</h1>

   <table>
        <tr>
            <th>@Model.Id</th>
            <th>@Model.Title</th>
            <th>@Model.Author</th>
            <th>@Model.YearPublished</th>
            <th>@Model.Isbn</th>
            <th>@Model.CopiesInBookish</th>
            <th>@Model.CopiesAvailable</th>
        </tr>
    </table>
